.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease; // для старых браузеров
  z-index: 1000;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  border-bottom: 30px solid #9f0013;

  &.show {
    opacity: 1;
  }
}